body {
    font-family:"Poppins", sans-serif;
    background-color:#f0f0f0;
    margin:0;
    padding:0;
}

.container{
    max-width: 80%;
    margin: 50px auto;
    padding: 10px;
    /* background-color: #6da3fb; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url("weather.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    margin-bottom: 30px;
    color:#f0f0f0
    
}

.input-field{
    display:flex;
    margin-bottom:40px;
    margin-left:35%;
}

/* input [type="text"]{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
} */

.input{
    margin:10px 10px;
    display:flex;
    border-radius:4px;
    padding:10px 20px;
    border: none;
    width:250px;
    outline: none;
    /* height:10px; */
}

button{
    margin-left:5px;
    padding:1px 10px;
    font-size:30px;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
}

/* button:hover{
    text-shadow: 2px 2px 4px rgba(69, 198, 218, 0.696);
} */

.btn-icon:active .fa-magnifying-glass {
    transform: scale(1.1);
}
